.ot-preference-page {
    border: 3px solid greenyellow;
}
.ot-preference-section-container {
    border: 3px solid greenyellow;
}
.ot-preference-settings-container {
    border: 3px solid greenyellow;
}
.ot-preference-section-header {
    border: 3px solid greenyellow;
}
.ot-preference-section-items {
    border: 3px solid greenyellow;
}
.ot-preference-sidebar-page-item {
    border: 3px solid greenyellow;
}
.ot-preference-sidebar-section-item {
    border: 3px solid greenyellow;
}

.ot-preference-data-element-multi-select {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-single-select {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-email {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-number {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-date {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-country {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-state {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-phone-number {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-phone-code {
    border: 3px solid greenyellow;
}
.ot-preference-data-element-input {
    border: 3px solid greenyellow;
}
